<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Facturacion digital </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>


<body>
    
    <div class="container" id="contenido">
        <div class="py-5 text-center">
          
          <h2>Facturacion Digital</h2>
          <p class="lead">datos  de  factura  ,  por Favor    ingrese  sus    datos.</p>
        </div>
      
        <div class="row">
          <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted" id="contenido_variable">Tu Carro</span>
              <span class="badge badge-secondary badge-pill" id="contenido_variable">3</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0" id="contenido_variable">SISTEMA  COTIZACION : </h6>
                  <small class="text-muted" id="contenido_variable">DESCRIPCION : Sistema Hipotecario u Sistema Automotriz</small>
                </div>
                <span class="text-muted" id="contenido_variable">$2.500.000</span>
              </li>
              
              
              <li class="list-group-item d-flex justify-content-between">
                <span id="contenido_variable">Total (CLP)</span>
                <strong id="contenido_variable">$3.700.000</strong>
                <form class="card p-2">
                  <div class="input-group">
                    <button type="submit" class="btn btn-secondary"  id="boton_comprar">
                      Comprar
                    </button>
                  </div>

                </form>
              </li>
            </ul>
      
            
          </div>
          <div class="col-md-8 order-md-1">
            <h4 class="mb-3" id="contenido_variable">Datos de Facturacion</h4>

            <form action="portalPago.html" method="POST">

              <script src="{{ url_for('static', filename='script/portalPago.js') }}" type="module"></script>


              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName" id="contenido_variable">Nombre completo</label>
                  <input type="nombre" class="form-control" name="nombre" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName" id="contenido_variable">apellido completo</label>
                  <input type="apellido" class="form-control" name="apellido" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>
      
              <div class="mb-3">
                <label for="username" id="contenido_variable">Nombre de usuario</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="usuario" class="form-control" name="usuario" placeholder="Username" required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Your username is required.
                  </div>
                </div>
              </div>
      
              <div class="mb-3">
                <label for="email" id="contenido_variable">Email <span class="text-muted"></span></label>
                <input type="email" class="form-control" name="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>
      
              <div class="mb-3">
                <label for="address" id="contenido_variable">Direccion</label>
                <input type="direccion" class="form-control" name="direccion" placeholder="1234 Main St" required>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>
      
              <div class="mb-3">
                <label for="address2" id="contenido_variable">Telefono<span class="text-muted"></span></label>
                <input type="telefono" class="form-control" name="telefono" placeholder="Apartment or suite">
              </div>
      
              <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="country" id="contenido_variable">Pais</label>
                  <select class="custom-select d-block w-100" name="pais" required>
                    <option value="">buscar...</option>
                    <option id="contenido_variable">United States</option>
                    <option id="contenido_variable">Chile</option>
                    <option id="contenido_variable">Argentina</option>
                    <option id="contenido_variable">Peru</option>
                    <option id="contenido_variable">Uruguay</option>
                    <option id="contenido_variable">Colombia</option>
                    <option id="contenido_variable">Brazil</option>
                    <option id="contenido_variable">Mexico</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="state" id="contenido_variable">Estado</label>
                  <select class="custom-select d-block w-100" name="estado" required>
                    <option value="">buscar...</option>
                    <option id="contenido_variable">Washington D.C</option>
                    <option id="contenido_variable">Santiago</option>
                    <option id="contenido_variable">Lima</option>
                    <option id="contenido_variable">Buenos Aires</option>
                    <option id="contenido_variable">Montevideo</option>
                    <option id="contenido_variable">Ciudad De mexico</option>
                    <option id="contenido_variable">Brazilia</option>
                    


                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="codigo_postal" id="contenido_variable">Codigo postal</label>
                  <input type="text" class="form-control" name="codigo" placeholder="" required>
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
              <hr class="mb-4">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="same-address">
                <label class="custom-control-label" for="same-address">Los Datos ingresados son los mismos que la de facturacion.</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="save-info">
                <label class="custom-control-label" for="save-info">Guardar esta informacion para siguiente checkeo.</label>
              </div>
              <hr class="mb-4">
      
              <h4 class="mb-3" id="contenido_variable">Compra</h4>
      
              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input id="check" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="credit" id="contenido_variable">Tarjeta Credito</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="check" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="debit" id="contenido_variable">Tarjeta Debito</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="check" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="paypal" id="contenido_variable">PayPal</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cc-name" id="contenido_variable">Nombre Tarjeta</label>
                  <input type="text" class="form-control" name="nombreTarjeta" id="nombreTarjeta" placeholder="" required>
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-number" id="contenido_variable">Numero Tarjeta</label>
                  <input type="text" class="form-control" name="numeroTarjeta" id="numeroTarjeta" placeholder="" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration" id="contenido_variable">Expiracion</label>
                  <input type="text" class="form-control" name="expiracion" id="expiracion" placeholder="" required>
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="cc-cvv" id="contenido_variable">CVV</label>
                  <input type="text" class="form-control" name="cvv" id="cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>
              <hr class="mb-4">
              <!--onclick="convertHtmltoPdf()"-->
              <button class="btn btn-primary btn-lg btn-block"
               type="submit" id="boton_verificar">Verificar</button>
            </form>
          </div>
        </div>

        <div id="elementH">

        </div>
      
        <footer class="my-5 pt-5 text-muted text-center text-small">
          <p class="mb-1">&copy; 2023-2024 BlogEvent</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
          </ul>
        </footer>
      </div>

      <!--script src="https://smtpjs.com/v3/smtp.js"></script-->

      <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js">
      </script-->

      <script src="{{ url_for('static', filename='script/sweetalert.min.js') }}"></script>

      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

      <!-- jspdf library -->
      <!--script  src = "https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script-->

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 
</body>
</html>